<div class="view-user">
  <div class="view-user__overlay" (click)="close()"></div>
  <div class="view-user__inner">
    <div class="view-user__image">
      <img
        [src]="user$?.avatar"
        [alt]="user$?.name"
        class="view-user__image--img"
      />
    </div>
    <div>
      <h3 class="view-user__name">{{ user$?.name }}</h3>
      <h5 class="view-user__email">Email: {{ user$?.email }}</h5>
      <p class="view-user__role">Rple: {{ user$?.role }}</p>
      <p class="view-user__date">
        Joined: {{ user$?.created_at | date : "MMM dd, yyyy - hh:mm a" }}
      </p>
    </div>
  </div>
</div>
